{% extends "base.html" %}
{% block nav_extended %}
<ul class="nav navbar-nav navbar-right">
<li>
  <a href="{{ url_for('signup') }}"
    ><span class="glyphicon glyphicon-user"></span> Sign Up</a
  >
</li>
<li>
  <a href="{{ url_for('log_out') }}"
    ><img
      class="img-responsive"
      src="{{url_for('static', filename='images/logout.png')}}"
      height="20"
      width="20"
  /></a>
</li>
</ul>
{% endblock %}
{% block content %} 
<div
  class="container-fluid text-center"
  style="background-color: black; height: 600px;"
 >
  <h1 class="explore">Sign In</h1>
  <br />
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    <div class="favorite">{{ form.username.label }}</div><br />
    {{ form.username }}<br>
    <div>
      {% for error in form.username.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
    </div>
  </p>
  <p>
    <div class="favorite">{{ form.password.label }}</div><br />
    {{ form.password }}<br>
    <div>
      {% for error in form.password.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
    </div>
  </p>
  <p>
      {{ form.remember_me() }} 
    {{ form.remember_me.label }}
  </p>
    <p>{{ form.submit() }}</p>
  <div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p class="style-p">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</form>
</div>
{% endblock %}
