{% extends "base.html" %} {% block nav_extended %}
<ul class="nav navbar-nav">
  <li class="active">
    <a href="{{ url_for('dashboard') }}">Create Blog</a>
  </li>
  <li><a href="{{ url_for('show_my_blogs') }}">See my blogs</a></li>
  <li><a href="{{ url_for('show_all_blogs') }}">Explore</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="{{ url_for('signup') }}"
      ><span class="glyphicon glyphicon-user"></span> Sign Up</a
    >
  </li>
  <li>
    <a href="{{ url_for('login') }}"
      ><span class="glyphicon glyphicon-log-in"></span> Login</a
    >
  </li>
</ul>
{% endblock %} {% block content %}
<div class="container-fluid" style="background-color: black; height: 100%;">
  <h2 style="color: whitesmoke;">
    Have fun reading buddy!
  </h2>
  <br />
  {% for blog in blogs %}
  <a href="{{ url_for('show_chosen_blog', blog_id= blog.blog_id) }}">
    <div class="box">
      <div>
        <div class="content-flex"></div>
        <div>
          <h3 class="style-sub-h3">{{ blog.blog_title }}</h3>
        </div>
      </div>
      <div class="content-flex">
        <div>
          <h4 class="choosen-block">{{ blog.blog_type }}</h4>
        </div>
        <br />
      </div>
      <div class="content-flex">
        <div>
          <h4 class="choosen-block2">Author: {{ blog.username }}</h4>
        </div>
        <br />
      </div>
    </div>
  </a>
  <br />
  {% endfor %}
</div>
{% endblock %}
