  {% extends "base.html" %}
  {% block nav_extended %}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="{{ url_for('login') }}"
        ><span class="glyphicon glyphicon-log-in"></span> Login</a
      >
    </li>
  </ul>
  {% endblock %}
  {% block content %}
    <div
      class="container-fluid text-center"
      style="background-color: black; height: 700px;"
    >
    <h1 class="explore">Sign Up</h1>
    <br />
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      <div class="favorite">{{ form.user_name.label }}</div>
      {{ form.user_name }}<br>
      <div>
      {% for error in form.user_name.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
      </div>
    </p>
    <p>
      <div class="favorite">{{ form.user_email.label }}</div>
      {{ form.user_email }}<br>
      <div>
      {% for error in form.user_email.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
      </div>
    </p>
    <p>
      <div class="favorite">{{ form.user_address.label }}</div>
      {{ form.user_address }}<br>
      <div>
      {% for error in form.user_address.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
      </div>
    </p>
    <p>
      <div class="favorite"> {{ form.user_mobile.label }}</div>
      {{ form.user_mobile }}<br>
      <div>
      {% for error in form.user_mobile.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
      </div>
    </p>
    <p>
      <div class="favorite">{{ form.password.label }}</div>
      {{ form.password }}<br>
      <div>
      {% for error in form.password.errors %}
      <span class="style-p">[{{ error }}]</span>
      {% endfor %}
      </div>
    </p>
    <br>
    <p>{{ form.submit() }}</p>
    <div>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p class="style-p2">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </form>
</div>
  {% endblock %}
