{% extends "base.html" %} {% block nav_extended %}
<ul class="nav navbar-nav">
  <li class="active">
    <a href="{{ url_for('dashboard') }}">Create Blog</a>
  </li>
  <li><a href="{{ url_for('show_my_blogs') }}">See my blogs</a></li>
  <li><a href="{{ url_for('show_all_blogs') }}">Explore</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="style_li">
    hi! {{ user }}
  </li>
  <li>
    <a href="{{ url_for('log_out') }}"
      ><img
        class="img-responsive"
        src="{{url_for('static', filename='images/logout.png')}}"
        height="20"
        width="20"
    /></a>
  </li>
</ul>
{% endblock %} {% block content %}
  <div
    class="container-fluid text-center"
    style="background-color: black; height: 700px;"
  >
    <h1 style="color: whitesmoke;">update your blog {{ user }}!</h1>
    <br />
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      <div class="favorite">{{ form.blog_title.label }}</div>
      {{ form.blog_title }}<br>
      <div>
        {% for error in form.blog_title.errors %}
        <span class="style-p">[{{ error }}]</span>
        {% endfor %}
      </div>
    </p>
   <br>
    <p>
      <div class="favorite">{{ form.blog_type.label }}</div>
      {{ form.blog_type }}<br>
      <div>
        {% for error in form.blog_type.errors %}
        <span class="style-p">[{{ error }}]</span>
        {% endfor %}
     </div>
    </p>
    <br>
    <p>
      <div class="favorite">{{ form.blog_desc.label }}</div>
      {{ form.blog_desc }}<br>
      <div>
        {% for error in form.blog_desc.errors %}
        <span class="style-p">[{{ error }}]</span>
        {% endfor %}
      </div>
    </p>
    <br>
    <p>
      <div class="favorite">{{ form.blog_content.label }}</div>
      {{ form.blog_content }}<br>
      <div>
        {% for error in form.blog_content.errors %}
        <span class="style-p">[{{ error }}]</span>
        {% endfor %}
      </div>
    </p>
    <p>{{ form.submit() }}</p>
    <div>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p class="style-p2">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </form>
</div>
{% endblock %}
     
